<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard | Garbage Reporting Platform</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/user-dashboard.css">
    <script src="/home.js" defer></script>
</head>

<body>
    <header>
        <div class="logo-container">
            <h1>Garbage Reporting Platform</h1>
            <p>User Dashboard</p>
        </div>
        <div class="auth-buttons">
            <a href="/" class="btn-auth btn-login">Home</a>
            <a href="#" id="logout" class="btn-auth btn-logout">Logout</a>
        </div>
    </header>

    <main>
        <div class="container">
            <h2 id="welcome-message">Hi</h2>
            <div class="user-actions">
                <a href="/report" class="btn btn-primary">Report a Problem</a>
            </div>
        </div>
    </main>

    <script src="/xssProtection.js"></script>
    <script src="/user-dashboard.js"></script>
</body>

</html>